[submodule "3. Desenvolvimento/3. Implementacao/comcer-backend"]
	path = 3. Desenvolvimento/3. Implementacao/comcer-backend
	url = https://github.com/DLL-S/comcer-backend.git
	ignore = dirty
[submodule "3. Desenvolvimento/3. Implementacao/comcer-frontend"]
	path = 3. Desenvolvimento/3. Implementacao/comcer-frontend
	url = https://github.com/DLL-S/comcer-frontend.git
	ignore = dirty
[submodule "3. Desenvolvimento/3. Implementacao/comcer-mobile"]
	path = 3. Desenvolvimento/3. Implementacao/comcer-mobile
	url = https://github.com/DLL-S/comcer-mobile.git
	ignore = dirty
